.movies-list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 40px 0 0 0;
  gap: 34px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .movies-list {
    padding-top: 55px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 339px));
  }
}

@media screen and (min-width: 1279px) {
  .movies-list {
    padding: 0;
    gap: 39px 20px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
    margin-top: 60px;
    justify-content: flex-start;
  }
}
