.moviescard__image {
  vertical-align: bottom;
  transition: all 0.2s linear;
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
  min-width: 300px;
}

@media screen and (min-width: 768px) {
  .moviescard__image {
    min-width: auto;
    height: 190px;
  }
}

@media screen and (min-width: 1279px) {
  .moviescard__image {
    height: auto;
  }
}

.moviescard__image:hover {
  transform: scale(1.02);
  transform-origin: 50% 100%;
  cursor: pointer;
}

.moviescard__details {
  position: relative;
}

.moviescard__title {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 24px 0 0;
}

@media screen and (min-width: 768px) {
  .moviescard__title {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media screen and (min-width: 1279px) {
  .moviescard__title {
    margin: 0;
    max-width: 226px;
  }
}

.moviescard__duration {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

.moviescard__like-btn {
  background: no-repeat center/contain url("../../images/movies_heart-icon.svg");
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.moviescard__like-btn {
  opacity: 0.8;
}

.moviescard__like-btn_liked {
  background: no-repeat center/contain
    url("../../images/movies_heart-icon_liked.svg");
}

.moviescard__delete-btn {
  background: no-repeat center/contain
    url("../../images/movies_heart-icon_remove-like.svg");
  display: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0;
}

.moviescard__container:hover .moviescard__delete-btn {
  display: block;
}

.moviescard__title-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 47px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 7px;
}

.moviescard__title-container {
  margin-bottom: 8px;
}
