.header {
  background-color: #f3c1f8;
  box-sizing: border-box;
}

.header_bg_white {
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  gap: 10px;
}

.header__logo {
  cursor: pointer;
  transition: all 0.2s linear;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1279px) {
  .header__logo {
    margin-right: 407px;
  }
}
