.techs {
  background: #fff;
}

@media screen and (min-width: 767px) {
  .techs {
    background: #f5f5f5;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1279px) {
  .techs {
    padding: 0;
  }
}

.techs__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (min-width: 767px) {
  .techs__container {
    padding-top: 95px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 1279px) {
  .techs__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.techs__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 767px) {
  .techs__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1279px) {
  .techs__title {
    padding-top: 20px;
  }
}

.techs__subtitle {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.44px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .techs__subtitle {
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }
}

@media screen and (min-width: 1279px) {
  .techs__subtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 470px;
    margin-bottom: 100px;
  }
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding: 0 57px;
}

@media screen and (min-width: 767px) {
  .techs__list {
    max-width: 670px;
    padding: 0;
  }
}

@media screen and (min-width: 1279px) {
  .techs__list {
    font-size: 14px;
    letter-spacing: -0.56px;
    max-width: none;
    grid-template-columns: repeat(auto-fit, 90px);
  }
}

.techs__item {
  background: #e8e8e8;
  border-radius: 10px;
  text-align: center;
}

.techs__item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  padding: 21px 0;
  margin: 0;
}

@media screen and (min-width: 767px) {
  .techs__item-text {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1279px) {
  .techs__item-text {
    font-size: 14px;
    letter-spacing: -0.56px;
  }
}
